# Machine Learning Model Building

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
# loading cleaned dataset
df = pd.read_csv('data/cleaned_spam.csv')
df.head()

   label                                            message  length
0      0  go jurong point crazy available bugis n great ...     111
1      0                            ok lar joking wif u oni      29
2      1  free entry 2 wkly comp win fa cup final tkts 2...     155
3      0                u dun say early hor u c already say      49
4      0             nah nt think go usf life around though      61